<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
    <heliconZoo>
        <clear />
        <application name="nodejs.project">
            <environmentVariables>
                <add name="APP_WORKER" value="%APPL_PHYSICAL_PATH%\app.js" />
                <add name="NODE_PATH" value="%APPL_PHYSICAL_PATH%\node_modules" /> 
                <add name="APPDATA" value="%APPL_PHYSICAL_PATH%\appdata" /> 
                <add name="WATCH_FILE_CHANGES_MASK" value="*.js" />
                <add name="DEPLOY_FILE" value="deploy.js" />
                <!-- <add name="DEPLOY_LOG" value="log\deploy.log" /> -->
                <add name="ERROR_LOG_DIR"  value="log" />
                <add name="CONSOLE_URL" value="console" />
            </environmentVariables>
        </application>
    </heliconZoo>
    <handlers>
        <remove name="nodejs.project#x86"/>
        <remove name="nodejs.project#x64"/>
        <add name="nodejs.project#x86" scriptProcessor="nodejs.http" path="*" verb="*" modules="HeliconZoo_x86" preCondition="bitness32" resourceType="Unspecified" requireAccess="Script" />
        <add name="nodejs.project#x64" scriptProcessor="nodejs.http" path="*" verb="*" modules="HeliconZoo_x64" preCondition="bitness64" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    
    <rewrite>
        <rules>
            <!-- Send static files through IIS -->
            <rule name="Avoid Static Files" stopProcessing="true">
                <match url="^(?!public|console)(.*)$" ignoreCase="false" />
                <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
                    <add input="{APPL_PHYSICAL_PATH}" pattern="(.*)" ignoreCase="false" />
                    <add input="{C:1}public\{R:1}" matchType="IsFile" />
                </conditions>
                <action type="Rewrite" url="public/{R:1}" />
            </rule>
        </rules>
    </rewrite>
</system.webServer>
</configuration>
