<% layout('layout') -%>
		<div class="wrap row catalogue">
			<div class="column two-cols float-right">
				<h2><a href="">Бренды</a> <i class="count">140</i></h2>
				<p class="bold"><a href="">Samsung</a><br/><a href="">Apple</a><br/><a href="">Sony</a><br/><a href="">ASUS</a><br/><a href="">LG</a><br/><a href="">Nokia</a><br/><a href="">Canon</a><br/><a href="">Philips</a><br/><a href="">Bosch</a><br/><a href="">HTC</a><br/><a href="">Harman/Kardon</a><br/><a href="">Bose</a><br/><a href="">Bose</a><br/><a href="">Bowers & Wilkins</a><br/><a href="">Twelve South</a><br/><a href="">Bang & Olufsen</a></p>
			</div>
			<div class="column three-cols first">
				<h2><a href="">Электроника</a> <i class="count">135</i></h2>
				<p><a href="">Телевизоры</a>, <a href="">DVD-плееры</a>, <a href="">Фотокамеры</a>, <a href="">MP3-плееры</a>, <a href="">Электронные книги</a>, <a href="">GPS</a>, <a href="">Домашние кинотеатры</a>, <a href="">Стационарные медиаплееры</a>, <a href="">Системы MultiRoom</a></p>
			</div>
			<div class="column three-cols">
				<h2><a href="">Компьютеры</a> <i class="count">87</i></h2>
				<p><a href="">Настольные</a>, <a href="">Ноутбуки</a>, <a href="">Wi-Fi</a>, <a href="">Планшеты</a>, <a href="">Принтеры</a>, <a href="">Комплектующие</a>, <a href="">Принтеры и МФУ</a>, <a href="">Сканеры</a>, <a href="">Сетевое оборудование</a>, <a href="">Режущие плоттеры</a>, <a href="">Программное обеспечение</a>, <a href="">Серверы</a></p>
			</div>
			<div class="column three-cols">
				<h2><a href="">Бытовая техника</a> <i class="count">25</i></h2>
				<p><a href="">Холодильники</a>, <a href="">Пылесосы</a>, <a href="">Стиральные машины</a>, <a href="">СВЧ</a>, <a href="">Обогреватели</a>, <a href="">Увлажнители</a>, <a href="">Встраиваемые рабочие поверхности</a>, <a href="">Водонагреватели</a></p>
			</div>
			<div class="column three-cols first">
				<h2><a href="">Бытовая техника</a> <i class="count">25</i></h2>
				<p><a href="">Холодильники</a>, <a href="">Пылесосы</a>, <a href="">Стиральные машины</a>, <a href="">СВЧ</a>, <a href="">Обогреватели</a>, <a href="">Увлажнители</a>, <a href="">Встраиваемые рабочие поверхности</a>, <a href="">Водонагреватели</a></p>
			</div>
			<div class="column three-cols">
				<h2><a href="">Электроника</a> <i class="count">135</i></h2>
				<p><a href="">Телевизоры</a>, <a href="">DVD-плееры</a>, <a href="">Фотокамеры</a>, <a href="">MP3-плееры</a>, <a href="">Электронные книги</a>, <a href="">GPS</a>, <a href="">Домашние кинотеатры</a>, <a href="">Стационарные медиаплееры</a>, <a href="">Системы MultiRoom</a></p>
			</div>
			<div class="column three-cols">
				<h2><a href="">Компьютеры</a> <i class="count">87</i></h2>
				<p><a href="">Настольные</a>, <a href="">Ноутбуки</a>, <a href="">Wi-Fi</a>, <a href="">Планшеты</a>, <a href="">Принтеры</a>, <a href="">Комплектующие</a>, <a href="">Принтеры и МФУ</a>, <a href="">Сканеры</a>, <a href="">Сетевое оборудование</a>, <a href="">Режущие плоттеры</a>, <a href="">Программное обеспечение</a>, <a href="">Серверы</a></p>
			</div>
		</div>